{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Portfolio</title>
    <link rel="stylesheet" href="{% static 'portfolio/css/home.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css" integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
      .nav-logo{
        background-image: url("{% static 'portfolio/images/nav-logo.png' %}");
      }
      .herosection{
        background-image: url("{% static 'portfolio/images/main-cover.png' %}");
      }
    </style>
</head>
<body>
  <header>
        <div class="navbar">
            <div class="nav-logo" style="background-image: url('{{ hero.logo.url }}');"></div>
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'skill' %}">Skills</a>
            <a href="{% url 'contact' %}">Contact</a>
            <a href="{% url 'blog' %}">Blog</a>
             <a href="{% url 'about' %}">About me</a>
        </div>
    </header>
    <div class="herosection" style="background-image: url('{{ hero.cover_img.url }}');">
        <div class="hero-heading">
            <p>{{ hero.heading }}</p>    
        </div>
        <div class="hero-para">
            <p>{{ hero.description }}</p>
        </div>
        <div class="check-work-button">
            <a href="{% url 'work' %}">{{ hero.work_btn }}</a>
        </div>
        
    </div> 
 <div class="work">
  <div class="head">
    <div class="head-content">
      <h1 class="work_heading">{{ work_section.heading }}</h1>
      <h3 class="worksub_heading"><br>{{work_section.subheading }}</h3>
    </div>
  </div>

  <section class="projects">
    {% for w in works %}
      <div class="card">
        <h3>{{ w.heading }}</h3>
        <p><br>{{ w.description }}</p>
        <div class="button-in-card">
          {% if w.source_code_link %}
            <div class="git">
              <a href="{{ w.source_code_link }}" target="_blank">
                <i class="fa-brands fa-github"></i>
              </a>
            </div>
          {% endif %}
          {% if w.demo_link %}
            <a href="{{ w.demo_link }}" target="_blank">See more</a>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </section>
</div>

        <section class="about-section">
        <div class="about-card">
            <div class="profile-img">
               {% if about.profile_image %}
                <img src="{{ about.profile_image.url }}" alt="Profile Image">
               {% endif %} 
            </div>
            <h2>{{ about.name }}</h2>
            <div class="divider"></div>
            <p class="job-title">{{ about.title }}</p>
             <div class="social-icons">
            {% if about.linkedin %}<a href="{{ about.linkedin }}"><i class="fab fa-linkedin-in"></i></a>{% endif %}
            {% if about.github %}<a href="{{ about.github }}"><i class="fa-brands fa-github"></i></a>{% endif %}
            {% if about.instagram %}<a href="{{ about.instagram }}"><i class="fa-brands fa-instagram"></i></a>{% endif %}
        </div>
    </div>

    <div class="about-content">
        <h1>About Me</h1>
        <p class="intro">{{ about.intro }}</p>
        <div class="buttons">
            {% if about.resume_link %}<a href="{{ about.resume_link }}" class="btn yellow">RESUME</a>{% endif %}
            {% if about.portfolio_link %}<a href="{{ about.portfolio_link }}" class="btn outline">PORTFOLIO</a>{% endif %}
        </div>
        <p class="description">{{ about.description }}</p>
    </div>
</section>

{% comment %} #<--------------------------skills----------------------------------- {% endcomment %}
    
<section class="skills-section">
  <div class="skills-container">
    <div class="skills-left">
      <h2 class="skills-title">{{ skillsdes.title }}</h2>
      <p class="skills-description">
       {{ skillsdes.description }}
      </p>

      <div class="icon-skills-grid">
        {% for skill in skills %}
          <div class="icon-skill-item">
            <i class="{{ skill.icon }}"></i>
            <p>{{ skill.name }}</p>
          </div>
        {% endfor %}
      </div>

    </div>

    <div class="skills-right">
      <img src="{{ skillsdes.skill_img.url }}" alt="Skills Image" class="skills-image" />
    </div>
  </div>
</section>



 <div class="faq">
    <main class="faq-wrap">
    <div class="faq-header">
      <div>
        <div class="title">Frequently asked</div>
        <div class="subtitle">Simple answers to help you know me and my projects better.</div>
      </div>
    </div>

    <section class="faq-card" aria-label="Frequently asked questions">
      <details open>
        <summary>
          <div class="question">{{ faq.0.question }}</div>
          <div class="chev" aria-hidden>
            <svg width="12" height="12" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5 7.5L10 12.5L15 7.5" stroke="currentColor" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/></svg>
          </div>
        </summary>
        <div class="answer">{{ faq.0.answer }}</div>
      </details>

      <details>
        <summary>
          <div class="question">{{ faq.1.question }}</div>
          <div class="chev" aria-hidden>
            <svg width="12" height="12" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5 7.5L10 12.5L15 7.5" stroke="currentColor" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/></svg>
          </div>
        </summary>
        <div class="answer">{{ faq.1.answer }}</div>
      </details>

      <details>
        <summary>
          <div class="question">{{ faq.2.question }}</div>
          <div class="chev" aria-hidden>
            <svg width="12" height="12" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5 7.5L10 12.5L15 7.5" stroke="currentColor" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/></svg>
          </div>
        </summary>
        <div class="answer">{{ faq.2.answer }}</div>
      </details>

      <details>
        <summary>
          <div class="question">{{ faq.3.question }}</div>
          <div class="chev" aria-hidden>
            <svg width="12" height="12" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5 7.5L10 12.5L15 7.5" stroke="currentColor" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/></svg>
          </div>
        </summary>
        <div class="answer">{{ faq.3.answer }}</div>
      </details>
 <details>
        <summary>
          <div class="question">{{ faq.4.question }}</div>
          <div class="chev" aria-hidden>
            <svg width="12" height="12" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5 7.5L10 12.5L15 7.5" stroke="currentColor" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/></svg>
          </div>
        </summary>
        <div class="answer">{{ faq.4.answer }}</div>
      </details>
       <details>
        <summary>
          <div class="question">{{ faq.5.question }}</div>
          <div class="chev" aria-hidden>
            <svg width="12" height="12" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5 7.5L10 12.5L15 7.5" stroke="currentColor" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/></svg>
          </div>
        </summary>
        <div class="answer">{{ faq..answer }}</div>
      </details>
       <details>
        <summary>
          <div class="question">{{ faq.6.question }}</div>
          <div class="chev" aria-hidden>
            <svg width="12" height="12" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5 7.5L10 12.5L15 7.5" stroke="currentColor" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/></svg>
          </div>
        </summary>
        <div class="answer">{{ faq.6.answer }}</div>
      </details>
      

    </section>

    <script src="script.js"></script>
</div>
  </main>
   



<section class="contact-section">
  <div class="contact-card">
    <div class="contact-photo">
     <img src='{% static "portfolio/images/about2.png" %}' alt="Profile Image">
    </div>
    <h2>Anushka Pandey</h2>
    <p class="role"><br>full stack Developer</p>
    <div class="social-icons">
       <a href="https://github.com/anushkap15-ux"><i class="fa-brands fa-github"></i></a>
        <a href="https://www.instagram.com/anushkapandey15._/"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://www.linkedin.com/in/anushka-pandey-3a5711256"><i class="fa-brands fa-linkedin"></i></a>
    </div>
  </div>
  <div class="contact-info">
    <h1>Contact Me</h1>
    <p>If you'd like to work together, collaborate on a project, or just say hello, feel free to reach out!</p>

    <div class="contact-buttons">
     <p><i class="fa-solid fa-location-dot"></i> Bhopal, India
    </div>

    <form class="contact-form">
      {% csrf_token %}

      <input type="text" placeholder="Your Name" value="{{ form.name.value }}" required>
      <input type="email" placeholder="Your Email" value="{{ form.email.value }}" required>
      <textarea placeholder="Your Message" required>{{ form.message.value }}</textarea>
      <button type="submit" class="btn primary">Send Message</button>
    </form>
  </div>
</section>
  <footer>
    <div class="footer">
        <a href="https://github.com/anushkap15-ux"><i class="fa-brands fa-github"></i></a>
        <a href="https://www.instagram.com/anushkapandey15._/"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://www.linkedin.com/in/anushka-pandey-3a5711256"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div class="copyright">
    &copy; Made by Anushka Pandey
  </div>
  </footer>


</section>
</body>
</html>