*{
    padding: 0px;
    margin: 0px;
    border: border-box;
}
html,body{
    margin: 0;
    padding: 0;
}
.nav-logo{
    width:150px;
    height: 150px;
    background-image: url(nav-logo.png);
    background-size: cover;
    margin-left: 2px;
}
.navbar{
    margin: 0;
    padding: 0;
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 80px;
    line-height: 80px;
    background-color: #EFD9D1;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: left;
    font-family: Arial, Helvetica, sans-serif;
    
}
.navbar a{
    text-decoration: none;
    color: black;
    opacity: 0.7;
    margin-left: 100px;
    margin-bottom: 1px;
    margin-right: 2px;
}
.navbar a:hover{
  color: #8D742F;
    opacity: 0.7;;
}
/** herosection**/
  .herosection{
    height : 800px;
    background-image: url(main-cover.png);
    background-size: cover;
     }
    .hero-heading {
    position: absolute; /* place text inside */
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%); /* center */
    color: #8D742F ; /* better contrast */
    font-size: 100px;
    text-align: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}
.hero-para{
    height: 40px;
    width:800px ;
    position: absolute; /* place text inside */
    top: 63%;
    left: 33%;
    transform: translate(-50%, -50%); /* center */
    color: #8D742F ; /* better contrast */
    font-size: 25px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    
}
.check-work-button{
    position: absolute;
    left: 7%;
    top:80%;
     height: 20px;
     background-color: blanchedalmond;
     border: 2px solid blanchedalmond ;
     font-family: Arial, Helvetica, sans-serif;
}
.check-work-button a{
    font-size: 20px;
    color: #8D742F;
    text-decoration: none;
        font-weight: bold;
}
.check-work-button a:hover{
    text-decoration: underline;
    color: #8D742F;
    opacity: 0.7;

}
/**work**/
.work{
    position: relative;
    height: 600px;
    text-align: center;
    background-color: white;
}
.work_heading {
        position: relative;
    top : 0.1rem;
    color :#8D742F;
    text-align: center;
    font-family:  Copperplate Gothic Light; 
    font-size: xx-large;
    text-decoration: underline;
    text-underline-offset: 10px;
}
.worksub_heading{
    position: relative;
    top : 2%;
    font-size: 20px;
    color: #8D742F;
    font-family: Copperplate Gothic Light ;

}
.cards{
    position: relative;
    top:20%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
     gap: 20px;
}
.card-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width : 350px;
    height: 300px;
    background-color: #FFE6E1 ;
    margin-top: 10px;
    gap: 20px;
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
}
.git-icon{
    align-items: left;
}
.git-icon i{
    font-size: 50px;
    color: black;
    text-align: left;
    color: #8D742F;

}
.content_card1{
    width : 200px;
    height : 300px;
    font-family: Arial, Helvetica, sans-serif;

}
.git-icon i:hover{
    color: #8D742F;
    opacity: 0.5;
}
.head-card{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.card-box:hover{
        background-color: #FFDBDB;
    transform: scale(1.05); /* makes it pop */
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3); /* adds shadow */
    opacity: 1;
    
}
/** about section**/
.about_section{
    opacity: 0.9;
    height: 540px;
    background-color: #F9F5F6;
}
.section-title{
    position: relative;
    top : 0.1rem;
    color :#8D742F;
    text-align: center;
    font-family:  Copperplate Gothic Light; 
    font-size: xx-large;
    text-decoration: underline;
    text-underline-offset: 10px;
}
.about-content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.about-photo{
    position: relative;
   
    height: 500px;
    width: 400px ;
    background-image: url(about-img.png);
    background-size: cover;
}
.about-para{
    width: 500px;
    height: 110px;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

   